selenium
webdriver_manager
speechRecognition
pydub
undetected_chromedriver
2captcha-python
ultralytics
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability